<app-toast [message]="toast.message"></app-toast>

<section>
	<h2>Article list</h2>
	<div class="card text-dark mb-3" *ngFor="let article of articles">
		<div class="card-header">
			<h5 class="title text-dark">{{ article.titre | empty }}</h5>
			- {{ findUsername(article.id) | empty }}
		</div>
		<div class="card-body">
			<p class="card-text">
				{{ article.contenu | empty | truncate: 200 }}
			</p>
			<a
				href=""
				[routerLink]="['/article', article.id_article]"
				class="card-link"
				>View article</a
			>
		</div>
	</div>
</section>
