<nav #menu class="navbar navbar-expand-md navbar-dark fixed-top">
	<a class="navbar-brand" routerLink="/">
		{{ appTitle }}
	</a>
	<button
		#collapser
		class="navbar-toggler"
		type="button"
		aria-controls="mainNavBar"
		[attr.aria-expanded]="isMenuOpened"
		aria-label="Toggle navigation"
		(click)="isMenuOpened = !isMenuOpened"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div
		class="collapse navbar-collapse"
		[ngClass]="{ show: isMenuOpened }"
		id="mainNavBar"
	>
		<ul class="navbar-nav mr-auto">
			<li
				*ngFor="let link of links"
				class="nav-item"
				routerLinkActive="active"
				[routerLinkActiveOptions]="
					link.activeOptions || { exact: false }
				"
			>
				<a class="nav-link" [routerLink]="link.path">
					{{ link.title }}
				</a>
			</li>
		</ul>
		<a routerLink="/auth"
			><button class="btn btn-outline-light my-2 my-sm-0">
				Sign up / Log in
			</button></a
		>
		<a routerLink="/user/profile"
			><button class="btn btn-outline-info my-2 my-sm-0">
				Profile
			</button></a
		>
		<a routerLink="/auth/logout"
			><button class="btn btn-outline-danger my-2 my-sm-0">
				Log out
			</button></a
		>
	</div>
</nav>
