.card-img {
	padding: 15%;
	border-radius: 20%;
}

h5 {
	align-self: center;
}

.card {
	margin: 3%;
}
.card:hover > .row {
	background-color: #383d60;
	text-decoration: underline;
	cursor: pointer;
}
