<app-toast [message]="toast.message"></app-toast>

<h2>User profile</h2>
<section class="row gutters-sm">
	<div class="col-md-4 mb-3">
		<div class="card">
			<div class="card-body">
				<div class="d-flex flex-column align-items-center text-center">
					<img
						src="{{ user.avatar }}"
						(error)="onImgError($event)"
						alt="userImg"
						class="rounded-circle"
						width="150"
					/>
					<div class="mt-3">
						<h4 class="text-dark">{{ user.pseudo | empty }}</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="card mt-3">
			<ul class="list-group list-group-flush">
				<li
					class="list-group-item d-flex justify-content-between align-items-center flex-wrap"
				>
					<h6 class="mb-0 text-dark">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							stroke="currentColor"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="feather feather-globe mr-2 icon-inline"
						>
							<circle cx="12" cy="12" r="10"></circle>
							<line x1="2" y1="12" x2="22" y2="12"></line>
							<path
								d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"
							></path></svg
						>Email
					</h6>
					<span class="text-secondary">{{ user.email | empty }}</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-8">
		<div class="card mb-3" *ngIf="!editMode">
			<div class="card-body">
				<div class="row">
					<div class="col-sm-3">
						<h6 class="mb-0 text-secondary">Username</h6>
					</div>
					<div class="col-sm-9 text-dark">
						{{ user.pseudo | empty }}
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-sm-3">
						<h6 class="mb-0 text-secondary">Email</h6>
					</div>
					<div class="col-sm-9 text-dark">
						{{ user.email | empty }}
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-sm-3">
						<h6 class="mb-0 text-secondary">Password</h6>
					</div>
					<div class="col-sm-9 text-dark">*********</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-sm-3">
						<h6 class="mb-0 text-secondary">Avatar URL</h6>
					</div>
					<div class="col-sm-9 text-dark">
						{{ user.avatar | empty }}
					</div>
				</div>
				<hr *ngIf="isCurrentUser()" />
				<div class="row">
					<div class="col-sm-12 btn-group" *ngIf="isCurrentUser()">
						<a class="btn btn-info" (click)="editModeToggle()"
							>Edit profile</a
						>
						<a class="btn btn-danger" (click)="deleteProfile()"
							>Delete profile</a
						>
					</div>
				</div>
			</div>
		</div>
		<app-user-profile-edit
			*ngIf="editMode"
			[userAvatar]="user.avatar"
			[userPseudo]="user.pseudo"
			[userEmail]="user.email"
			(toggle)="editMode = $event"
		>
		</app-user-profile-edit>

		<div class="row gutters-sm">
			<div class="col-sm-6 mb-3">
				<div class="card h-100">
					<div class="card-header">
						<h6>
							<i class="material-icons text-info"
								>Last articles...</i
							>
						</h6>
					</div>
					<div class="card-body" *ngFor="let article of articles">
						<div class="row">
							<h6 class="mb-0">
								<a
									class="link-secondary"
									href=""
									[routerLink]="[
										'/article',
										article.id_article
									]"
									>{{ article.titre | empty }}</a
								>
							</h6>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6 mb-3">
				<div class="card h-100">
					<div class="card-header">
						<h6>
							<i class="material-icons text-info"
								>Last comments...</i
							>
						</h6>
					</div>
					<div class="card-body" *ngFor="let comment of comments">
						<div class="row">
							<span class="blockquote-footer" class="mb-0">
								<cite
									><a
										class="link-secondary"
										href=""
										[routerLink]="[
											'/article',
											comment.id_article
										]"
										>"{{ comment.contenu | empty }}"</a
									></cite
								>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
