<app-nav></app-nav>
<main role="main" class="container">
	<router-outlet></router-outlet>
</main>
<footer>
	<div class="container">
		<p *ngIf="!auth.loggedIn; else loggedUser">
			&copy; Made with <i class="fa fa-heart" aria-hidden="true"></i>️ by
			<strong>
				<a
					target="_blank"
					rel="noopener"
					href="https://github.com/agerard57"
					>agerard57</a
				>
			</strong>
			2022.
		</p>
		<ng-template #loggedUser
			><p>Connected as {{ auth.currentUser.email }}</p></ng-template
		>
		<!--TODO change this-->
	</div>
</footer>
