.title {
	font-weight: bold;
	display: contents;
	text-transform: capitalize;
}

.card-link {
	cursor: pointer;
	margin: 0 10px;
}

cite:hover {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
